//Estilo del menu.
.nav {
    background-color: $background-menu;
    font-size: $font-size-menu;
    position: $position-menu;
    top: $top-menu;
}

.nav ul {
    list-style: $none;
    overflow: $overflow-hidden;
    padding-left: $padding-left-lista;
}

.nav ul li {
    float: $float-colum; //left
    text-align: $text-align-center;
    width: $width-lista;
}

.nav ul li a {
    color:$color-text-menu;
    display: $display-enlace-menu;
    padding: $padding-enlace-menu;
    text-decoration: $none;
}